{% extends 'main.html' %}

{% block title %} {{ title }} || {{ block.super }} {% endblock %}

{% block content %}
    <h1>Active exercises: </h1>
    <div style="display:flex;">
    {% for non_complete_item in to_do_list %}
        {% if non_complete_item.activity %}
        <div class="card text-dark bg-warning mb-3" style="max-width: 18rem; margin:10px;">
            <div class="card-header">Deadline: {{ non_complete_item.finish_date_deadline }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ non_complete_item.user.username }}</h5>
                <p class="card-text">{{ non_complete_item.description|truncatewords:30 }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <h1>Finished exercises: </h1>
    <div style="display:flex;">
    {% for passed_item in to_do_list  %}
        {% if not passed_item.activity %}
        <div class="card text-white bg-success mb-3" style="max-width: 18rem; margin:10px;">
            <div class="card-header">Deadline: {{ passed_item.finish_date_deadline }}</div>
            <div class="card-body">
              <h5 class="card-title">{{ passed_item.user.username }}</h5>
              <p class="card-text">{{ passed_item.description|truncatewords:30 }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}